---
environment: dev
additional_args: []

cloud_sql_ssl_options:
  enabled: false
  secret_name: ""

chain: polkadot
role: preloader
replicas: 1
image: {repository: altvnv/mbelt_preloader, tag: 939b95cb752687d2cc83959c6405a936a9c8928e}
limits: {cpu: 450m, memory: 200Mi}
requests: {cpu: 400m, memory: 200Mi}
port: 3000
metrics:
  enabled: true
env:
  log_level: info
  network_id: 0
  mode: LISTENER
  network: polkadot
  substrate_uri: ""

ingress:
  enabled: false

nodeSelector: {}
affinity: {}
topologySpreadConstraints: {}
tolerations: {}
imagePullSecrets: ""
