---
apiVersion: v1
kind: Secret
metadata:
  name: cloud-sql-credentials
type: Opaque
stringData:
  user: "{{ .Values.database.user }}"
  pass: "{{ .Values.database.pass }}"
  host: "{{ .Values.database.host }}"
  port: "{{ .Values.database.port }}"
  db: "{{ .Values.database.db }}"
